@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    color: white;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html,body {
    margin: 0;
    padding: 0;
  }
.img1{
    height: 500px;
    width: 500px;
}
.img2{
    height: 400px;
    width: 400px;
}
.title{
    font-size: 4rem;
    color: #66D7D1;
    font-weight: bolder;
}
.title1{
    font-size: 3rem;
    color: #66D7D1;
    font-weight: bolder;
}
@media (max-width: 1500px) {
    .title{
        font-size: 2rem;
    }
    .img1{
        height: 350px;
        width: 350px;
    }
    
}
.button1{
    height:60px;
    width: 60px;
    border-radius: 50%;
    border:none;
    background-color: #1768AC;
}
.button1:hover{
    background-color: white;
    color: black;
}
.button2{
    background-color: #66D7D1;
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 2%;
}
ul{
    font-size: 1.5rem;
}

.card1{
    border-radius: 4px;
    background: #f1f1f1;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 60px 18px 36px;
  cursor: pointer;
  }
  
  .card1:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .card1 h3{
  font-weight: 600;
  }
  
  .card1 img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
  }
  
  .card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
  }
  
  .card-2{
   background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
  }
  
  .card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
  }
  
  @media(max-width: 990px){
  .card{
    margin: 20px;
  }
  } 
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }